.navigation{
    background-color:black;
    padding: 20px;
    display: flex;
    padding-bottom: 20px;
}
.header-details{
    color:aqua;
    font-family: poppins;
    padding-bottom: 20px;
}
.header-details h1{
    font-size: 70px;
}
.navigation a{
    color:white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    

}
.navigation-link{
    margin-left: 380px;
    margin-top: 15px;
}